# build artifacts
/dist
/node_modules

# sources
/src
/e2e

# setting files
/.browserslistrc
/.editorconfig
/.gitignore
/angular.json
/karma.conf.js
/tsconfig.app.json
/tsconfig.base.json
/tsconfig.json
/tsconfig.spec.json
/tslint.json