@font-face {
  font-family: Slack-Lato;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/lato-regular.woff2) format("woff2"), url(/assets/fonts/lato-regular.woff) format("woff");
  unicode-range: U+0000-f8fe, U+f900-ffff;
}