:host {
}

.script {
  min-height: 10vh;
  background-color: #000;
  border-radius: 2px;
}

.metadata {
  table {
    width: 100%;
    // border: 1px solid #ccc;
  }
  th {
    white-space: nowrap;
    text-align: left;
    border-right: 1px solid #333;
    padding-left: 0.3em;
  }
  .list a {
    display: block;
  }
}
