<div class="metadata">
  <table class="small">
    <tr>
      <th>IRI:</th>
      <td>{{distribution?.iri}}</td>
    </tr>
    <tr *ngIf="distribution?.accessUrl && distribution?.accessUrl !== distribution?.downloadUrl">
      <th>Přístupové URL:</th>
      <td>{{distribution?.accessUrl}}</td>
    </tr>
    <tr *ngIf="!distributionService">
      <th>URL pro stažení:</th>
      <td>{{distribution?.downloadUrl}}</td>
    </tr>
    <tr *ngIf="distributionService">
      <th>Popis služby:</th>
      <td>{{distributionService?.endpointDescription}}</td>
    </tr>
    <tr>
      <th>Formát:</th>
      <td><a *ngIf="distribution?.format" [routerLink]="['/datasets',{format:distribution.formatIri}]">{{distribution?.format}}</a></td>
    </tr>
    <tr>
      <th>MIME typ:</th>
      <td>{{distribution?.mediaType || "neznámý"}}</td>
    </tr>
    <tr>
      <th>Typ komprese:</th>
      <td>{{distribution?.compressFormat || "žádný"}}</td>
    </tr>
    <tr>
      <th>Typ balíčku:</th>
      <td>{{distribution?.packageFormat || "žádný"}}</td>
    </tr>
  </table>
</div>