@import url("https://rsms.me/inter/inter.css");

@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/bootstrap-reboot";

* {
  box-sizing: border-box;
}

p {
  text-align: justify;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
}
tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
td,
th {
  padding: 0.3em 1em;
  vertical-align: top;
}
th {
  text-align: left;
  padding-left: 0.3em;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 0.6em 1em;
  border-radius: var(--button-border-radius, 2px);
}
a.btn:hover {
  text-decoration: none;
}

a.btn.primary,
a.btn.active {
  background-color: var(--primary, #0087c8);
  color: #fff;
}

a.btn.secondary {
  background-color: var(--secondary, #00a5a5);
  color: #fff;
}

/* LINKS */
a {
  text-decoration: none;
  color: var(--link-color, #093d93);
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

small,
.small {
  font-size: 0.8em;
}
